.label_status{
  float: right;
}
.btn-wra{
  background-color: #8064A2;
  color: #fff !important;
}
.btn-wra:hover{
  background-color: #8064A2;
  color: #fff;
}

.custom_font1{
  font-family: 'Secular One', sans-serif;
}
h1{
  font-size: 45px !important;
}

.user-name {
padding: 0 !important ;
padding-left: 5px;
padding-top: 15px !important;
text-align: center;

.pic{

   float: left;

}

a {
color: black !important;
margin: 0 !important;
padding: 5px!important;
}
a:hover, a:focus {
color: #000 !important;
}
}
.brand{
  font-size: 25px;
  font-weight: bold;
  float: left;
}
.jumbo1{
  background-image: asset-url('cover-taxi.jpeg');
  // color: ;
  display: block;
  text-align: center;
  padding-top: 25px;
  padding-bottom: 25px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;
  background-size: cover;
  height: 600px;
  // height: auto;
}

.navbar{
  padding-bottom: 0% !important;
}


  .mod{
    padding-top: 2px;
    padding-right: 2px;
  }



.logout {
padding-left: 0;
}

.nav.navbar-right {
padding-bottom: 10px;
padding-top: 5px;
}
.nav.navbar-nav {
.navbar-link {
border-radius: 5px;
color: #fff;
margin-top: 15px;
padding: 8px;
}

 .listing{
  list-style: none !important;
  padding-left: 0;
 }

.navbar-link:focus, .navbar-link:hover {
background: #3071a9;
color: #fff;
}
li a {
margin-right: 5px;
}
}
.nav.navbar-right li {
.btn {
color: #fff !important;
// margin-top: 5%;
}
.btn-danger:hover, .btn-danger:focus {
background-color: darken(#d9534f,20%) !important;
}
.btn-primary:hover, .btn-primary:focus {
background-color: darken(#428bca,20%) !important;
}
}
.btn-primary:visited, .btn-danger:visited {
color: #fff;
}
