<div id="cab-lookup">
  <h3>Search for Cabs</h3>
  <%= form_tag search_cabs_path,method: :get, id: 'cab-lookup-form' do %>
  <div class="form-group row no-padding text-center col-md-12">
    <div class="col-md-10">
      <%= text_field_tag :cab, params[:cab], placeholder: "Enter your preffered Cab Pickup area", autofocus: true,
                                                          class: 'form-control search-box input-lg' %>
    </div>
    <div class="col-md-2">
      <%= button_tag(type: :submit, class: "btn btn-lg btn-success") do %>
        <i class="fa fa-search"></i> Look up a cab
      <% end %>
    </div>
  </div>
  <% end %>
<!--
   <% if @cab %>
  <% end %>
  <div id="cab-lookup-errors"></div> -->
</div>
