<h1>Editing Cab</h1>

<%= render 'form', cab: @cab %>
<br>
<div class="text-center">
<%= link_to 'Show', @cab ,class: "btn btn-info" %> |
<%= link_to 'Back', cabs_path,class: "btn btn-default" %>
</div>
