<h1>Enter your Cab details </h1>
<div class="container col-md-offest-4">
<%= render 'form', cab: @cab %>
</div>

<div class="text-center">
           [<%= link_to 'Click and return to Cabs Listing', cabs_path %>]
</div>
